.filter-list {
	align-items: center;
	background-color: #f3f3f3;
	border: .05em solid #333;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: .5em 1em;
}

.filter-list li {
	width: 50%;
}

@media (min-width: 472px) {
	.filter-list li {
		margin-right: 2em;
		width: initial;
	}
}

@media (min-width: 768px) {
	.filter-list li {
		margin-right: 3em;
	}
}