#nav-wrapper {
	background-color: #F2F2F2;
	height: 100%;
	max-width: 230px;
	opacity: .9;
	padding: 1.5em 1em;
	position: absolute;
	transition: .2s all ease-in-out;
	transform: translateX(-100%);
	width: 80%;
	z-index: 2;
}

	#nav-wrapper.open {
		transform: translateX(0);
	}

	#nav-wrapper.open #nav-ham {
		transform: rotate(180deg);
	}

#nav-wrapper h1 {
	color: grey;
	font-size: 1em;
}

.nav {
	font-size: 1.2em;
	list-style: none;
	padding: 0;
}

.nav li {
	margin-bottom: 1em;
}

.active {
	color: #333333;
	font-weight: 900;
	text-decoration: none;
}

.nav-sale {
	color: red;
}

#nav-ham {
	cursor: pointer;
	padding: .5em;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: .2s all ease-in-out;
	width: 3em;
}

#nav-ham img {
	vertical-align: middle;
	width: 100%;
}

@media (min-width: 1024px) {
	#nav-wrapper {
		position: initial;
		transform: translateX(0);
	}

	#nav-ham {
		display: none;
	}
}