.product-box-img-wrapper,
.product-box-details {
	width: 100%;
	margin-bottom: 2em;
}

.product-box-img-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border: .05em solid #333;
	padding: 2em;
	cursor: pointer;
}

.product-box-img { width: 100%; }

.product-box-details {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.product-box-were {
	display: block;
	text-decoration: line-through;
}

.product-box-price {
	color: red;
	font-size: 200%;
	font-weight: 900;
}

.product-box-form {
	margin-top: 2em;
	width: 100%;
}

.product-box-form div {	margin-bottom: 1em; }

.product-box-form label,
.product-box-form select,
.product-box-form input {	width: 100%; }

.product-box-form label { font-weight: 900; }

#size,
#quantity,
.product-box-form input {
	cursor: pointer;
	border-radius: .5em;
	border: 0;
}

#size,
#quantity {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(dropdown.png) right / 2em no-repeat #F3F3F3;
	padding: 1em .5em;
	outline: 0;
}

.product-box-form input {
	background-color: #169BD5;
	color: #fff;
	border: 0;
	margin-bottom: 0;
	font-weight: 900;
	padding: 1em;
	outline: 0;
	margin-top: 2em;
}

@media (min-width: 768px) {
	.product-box { margin: 0 -1em; }

	.product-box-wrapper {
		display: flex;
		padding: 0 1em;
		width: 100%;
	}

	.product-box-img-wrapper,
	.product-box-details { width: 50%; }

	.product-box-details { margin-left: 3em; }

	.product-box-form {
		display: flex;
		flex-flow: column;
		justify-content: flex-end
	}
}

@media (min-width: 1024px) {
	.product-box-form { width: 80%; }

	.product-box-form div {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1em;
	}

	.product-box-form label { width: 30%; }

	.product-box-form select {
		padding: .5em 0em;
		width: 70%;
	}
}

@media (min-width: 1440px) {
	.product-box-form { width: 60%; }
}
